@{
    ViewData["Title"] = "Yelp Web Examples";
}

<br />
<br />

<ul>
    <li><a asp-action="TestGetBusinessAsync">Test GetBusinessAsync - 30 restaurants retrieved one a time in about 30-33 seconds.</a></li>
    <li><a asp-action="TestGetBusinessAsyncInParallel">Test GetBusinessAsyncInParallel - 30 restaurants retrieved in parallel in about 2-3 seconds.</a></li>
    <li><a asp-action="TestGetGraphQlAsync">Test GetGraphQlAsync - 10 restaurants retrieved via one GraphQL call in about 3-4 seconds.</a></li>
    <li><a asp-action="TestGetGraphQlInChunksAsync">Test GetGraphQlInChunksAsync - 30 restaurants retrieved via multiple GraphQL calls made one at a time in about 3-4 seconds.</a></li>
    <li><a asp-action="TestGetGraphQlAsyncInParallel">Test GetGraphQlAsyncInParallel - 30 restaurants retrieved via multiple GraphQL calls made in parallel in about 2-3 seconds.</a></li>
</ul>
