@using Microsoft.AspNetCore.Mvc.Rendering
@using Yelp.Api.Models
@model IEnumerable<BusinessResponse>
@{
    ViewBag.Title = "Options";
}

<h2>Results</h2>

<div id="resultsContainer">
    @if (Model.Any())
    {
        <div class="container-fluid" style="border-bottom: 1px solid #e6e6e6; padding-top: 10px;">
            @foreach (var business in Model)
            {
                @Html.Partial("_BusinessResult", business)
            }
        </div>
    }
    else
    {
        @:You don't have any Results.
    }
</div>
